@import "bootstrap-sprockets";
@import "bootstrap";

$tan: #E5A500;
$grey: #3E3E3E;

.test-border {
  border: 1px solid red;
}

.top-margin {
  margin-top: 50px;
}

////////////////////////////////////////////////////////////////////////////////
///// Intro
////////
.intro {
  background-color: $tan;
  margin-top: -20px;
  padding: 30px;
}

.logo {
  width: 500px;
  height: auto;
}

.headline-container {
  margin-top: 150px;
  padding-left: 60px;
}

.mock-iphone {
  width: 250px;
  height: auto;
  margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////
///// Video
////////
.video-section {
  background-color: #fff;
  padding: 30px;
}

.see-it-container {
  margin-top: 150px;
}

////////////////////////////////////////////////////////////////////////////////
///// Bios
////////
.bio-section {
  padding-top: 50px;
  background-color: $grey;
  color: #fff;
  padding: 30px;
}

.headshot {
  width: 250;
  height: 250px;
}

////////////////////////////////////////////////////////////////////////////////
///// Footer
////////
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 100px; /* .push must be the same height as .footer */
  color: $tan;
}

// Smaller devices
@media only screen and (max-width: 750px) {
  // Intro
  .headline-container {
    margin-top: 0px;
    padding-left: 0px;
  }

  .mock-iphone {
    width: 100px;
    height: auto;
  }

  // See it
  .see-it-container {
    margin-top: 0px;
  }

}
